<button
  class="btn btn-primary"
  (click)="toggleContent()"
>Display Details</button>
<p *ngIf="showContent">display-details works!</p>
<!--<ul>
  <li
    [ngStyle]="{backgroundColor: showBlueBackground()}"
    [ngClass]="{'after-five': showWhiteColor()}"
    *ngFor="let c of clickLog"
  >{{c}}</li>
</ul>-->
<p
  *ngFor="let c of clickLog"
  >
  <span
    [ngStyle]="{backgroundColor: showBlueBackground(c)}"
    [ngClass]="{'after-five': showWhiteColor(c)}"
  >{{c}}</span>
</p>
<div
  *ngFor="let t of clickLogTime; let i = index"
  [ngStyle]="{backgroundColor: showBlueBackground(i+1)}"
  [ngClass]="{'after-five': showWhiteColor(i+1)}"
>{{ t }}</div>

